@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');

html {
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    margin: 0;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    padding: 2rem;
    font-family: 'Quicksand', sans-serif;
}

h2,
summary {
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 75%;
    margin-top: 1rem;
}

.btn {
    color: rgb(0, 0, 0);
    background-color: white;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
}

.btn1:hover {
    background-color: #d260ff5b;
}
.btn2:hover {
    background-color: #32adff56;
}
.btn3:hover {
    background-color: #60ff758f;
}
.btn4:hover {
    background-color: #fbff008e;
}
.btn5:hover {
    background-color: #ff606088;
}
.enlace {
    color: #444;
    text-decoration: none;
    display: block;
    padding: 5px;
    font-weight: bold;
}

.enlace:hover {
    text-decoration: underline;
    color: black;
}

/* Modal */
.modal {
    display: none;
    /* oculto por defecto */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    position: relative;
}

.close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}

/* FAQ */
.faq {
    max-width: 700px;
    margin: 0 auto;
    font-family: 'Arial', sans-serif;
    padding: 1rem;
}

details {
    margin-bottom: 1rem;
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 0.5rem 1rem;
}

summary::-webkit-details-marker {
    display: none;
}

summary::marker {
    display: none;
    content: "";
}

summary {
    font-weight: bold;
    cursor: pointer;
    outline: none;
    position: relative;
    padding-right: 1.5rem;
}

summary::after {
    content: "+";
    position: absolute;
    right: 0;
    font-weight: bold;
    font-size: 1.2rem;
}

details[open] summary::after {
    content: "−";
}
.map{
    width: 100%;
    height: 30%;
}
.logo {
    width: 100%;
    /* Por defecto para celular */
}
.pestaña{
    border-radius: 50%;
}

@media (min-width: 768px) {
    .logo {
        width: 30%;
        /* En pantallas medianas o más grandes */
    }
}